.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;

  .chat-text {
    width: 50%;
    height: 80%;
    margin: 1rem;
    border: black .5px solid;
  }

  .chat-video {
    width: 50%;
    height: 80%;
    margin: 1rem;
    border: black .5px solid;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
