<div class="chat-container">
  <div class="chat-header">
    <mat-icon>menu</mat-icon>
    <span>NeoTalk</span>
    <mat-icon>photo_camera</mat-icon>

  </div>
  <div class="chat-video-container">
    <div class="video">
      <img src="https://media1.tenor.com/m/ANAuC61sW6UAAAAd/gato-abriendo-y-cerrando-la-boca.gif" alt="rapaz">
    </div>
  </div>

  <div class="chat-text-container">
    <div class="chat-message">
        <mat-icon matTextPrefix>more_vert</mat-icon>
        <input formControlName="message" matInput placeholder="Digite para traduzir">
    </div>
    <div class="mic">
      <mat-icon>mic</mat-icon>
    </div>
  </div>
</div>
